img {
  max-height: 300px;
}

.plain-email-text {
  font-weight: bold;
}

.blur-text {
  background: gray;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 2px;
  opacity: .6;
}

