.email-text,
.blurred-text {
  display: inline-block;
  margin-left: 4px;
}

.email-text {
  font-weight: bold;
}

.blurred-text {
  background: gray;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
  opacity: .6;
}

